@font-face {
  font-family: "Comic";
  src: url("fonts/RifficFree-Bold.ttf") format("opentype");
}


body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: aliceblue;
}

:root {
    --borderRadius: 15px;
    --border: 10px;
}

.cartoonContainer {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20%;
    left: 50%;
}

.cartoonContainer > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vh;
    border-radius: var(--borderRadius);
    font-size: 1.2rem;
    font-family: "Comic", sans-serif;
    flex-shrink: 1;
}



.textPicCartoon {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 90%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    letter-spacing: 2px;
    margin: 1%;
    overflow-wrap: break-word; /* Lässt lange Wörter umbrechen */
    word-wrap: break-word;     /* Fallback für ältere Browser */
    overflow: hidden;          /* Verhindert, dass etwas überläuft */
    background-color: white;
    margin-top: 3px;
    box-shadow: 15px 15px #d0e8ff;
}

span.animation {
  animation-name: cartoonCards;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes cartoonCards {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.cartoonText {
    display: flex;
    padding: 10%;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word; /* Lässt lange Wörter umbrechen */
    word-wrap: break-word;     /* Fallback für ältere Browser */
    overflow: hidden;          /* Verhindert, dass etwas überläuft */
}

.cartoonBilder img {
    display: flex;
    max-height: 100%;
    margin-right: auto;
    margin-left: 3%;
    justify-content: center;
}
